<% layout('../base') -%>

  <div class="container row">
      <div class="col s9">
        <div class="slider">
          <ul class="slides">
            <%for (var i = 0 ; i < product.images.length ; i++){%>
              <li>
                <img src="<%=product.images[i].path.substring(6)%>">
                <!-- random image -->
                <div class="caption center-align">
                  <h3>This is our big Tagline!</h3>
                  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
              </li>
            <%}%>
          </ul>
        </div>
        <p class="center-align"><%=product.location%></p>
        <h1 class="center-align"><%=product.title%></h1>
        <div class="divider"></div>
        <div class="section">
          <h5>스터디 소개</h5>
          <p><%=product.introduction%></p>
        </div>
        <div class="divider"></div>
        <div class="section">
          <h5>상세정보</h5>
          <table>
            <tr>
              <td><p>지역:<%=product.location%></p></td>
              <td><p>인원:<%=product.maxPersonNum%>명</p></td>
            </tr>
            <tr>
              <td><p>일정:<%=product.timeInfo.term.forMonth%>개월, 주 <%=product.timeInfo.term.perWeek%>회</p></td>
              <td><p>장소비:<%if (product.locationFeeIncluded){%>포함<%}else{%>미포함<%}%></p></td>
            </tr>
            <tr>
              <td>
                <p>시간</p>
                <%for(var i = 0; i < product.timeInfo.week.length; i++){%>
                    <p>(<%=product.timeInfo.week[i].day%>)<%=product.timeInfo.week[i].time%></p>
                <%}%>
              </td>
              <td><p></p></td>
            </tr>
          </table>
        </div>
        <div class="section">
          <h5>리더 소개</h5>
          <p><%=product.leader%></p>
        </div>
        <div class="divider"></div>
        <div class="section">
          <h5>현재 참여자 <%=product.enrolledPeople.length%>명</h5>
            <%for(var i = 0 ; i <  product.enrolledPeople.length; i++){%>
              <p><%=product.enrolledPeople[i].enrolledBy.username%></p>
            <%}%>
        </div>
        <div class="divider"></div>
        <%=product%>
      </div>
      <div id="side_bar" class="col s3">
        <div style="border:1px solid black;">
          <div class="section">
            <span class="center-align"><%=product.title%></span>
          </div>
          <div class="divider"></div>
          <div class="section">
            <span class="center-align">참가비: 00원</span>
          </div>
          <div class="divider"></div>
          <a class="btn waves-effect waves-light center-align" href="/product/<%=product.id%>/order" name="action">참여신청
            <i class="material-icons right">send</i>
          </a>
          <a class="btn waves-effect waves-light center-align" href="/api/product/<%=product.id%>/bookmark" name="action">찜하기
            <i class="material-icons right">send</i>
          </a>
        </div>
      </div>
  </div>

  <script>
    $(document).ready(function() {
      $("#side_bar").stick_in_parent();
      $('.slider').slider();
    });
  </script>
